.homeitem{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.mainitem{
    height: 400px;
    overflow-y: scroll;
    padding: 0 10px;
   
}
.grouphead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cardbox {
   
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000040;
    align-items: center;
    padding: 15px 20px;
}

.cardbox:last-child{
    border: none;
}
.useritem{
    margin-top: 17px;
    display: flex;
    column-gap: 14px;
    align-items: center;
    margin-left: -30px;
}

.Userimg{
    display: flex;
    /* column-gap: 14px; */
    flex-direction: row !important;
    padding-bottom: 13px;
    border-width: 100%;
}
.Userimg{
    width: 70px;
    height: 70px;
}
.Userimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userbtn{
    display: flex;
    column-gap: 10px;
    width: 30px;
    height: 30px;
    padding: 20px;  
    display: flex;
    align-items: center; 
    /* margin-right: 10px; */
}
button{
    border-radius: 10px;
}
 button svg{
    font-size: 17px !important;
    padding: 15px;
}
.mainitem h3{
    color: black;
}
.addbutton{
    padding: 15px 20px;
    border: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.fuserbtn {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* justify-content: end; */
    margin-right: -40px;
    cursor: pointer;
}
.friendinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -30px;
}
.info {
    margin-top: -25px;
}
.userinfobox {
    margin-top: -20px;
}
